.edit-page-title {
    max-width: 600px;
    min-width: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 30px 0 50px 0;
}

.edit-page-title__label {
    font-size: 30px;
    font-weight: 700;
}

.eidt-photo-box {
    max-width: 500px;
    min-width: 500px;
    display: flex;
    margin: auto;
}

.eidt-photo-box__photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
}

.eidt-photo-box__button {
    min-width: 100px;
    position: relative;
    left: 30%;
    top: 40%;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    font: icon;
    background-color: rgb(172, 209, 233);
    color: white;
}

.eidt-photo-box__button:hover {
    background-color: rgb(109, 146, 155);
}

.eidt-photo-box__button:active {
    background-color: rgb(109, 146, 155);
}

.edit-profile__form {
    max-width: 500px;
    min-width: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 60px;
}

.edit-profile__box {
    margin-top: 30px;
}

.edit-profile__edit {
    border: 0;
    background: var(--input-background-color);
    margin: 20px 0 0 60px;
    padding: 14px 10px;
    color: black;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    font-size: large;
    font-weight: 550;
    font-size: 15px;
}

.edit--name {
    text-align: center;
}

.edit--status {
    width: 400px;
}

.edit--sex {
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.edit-profile__date {
    width: auto;
    padding: 14px 10px;
    background: var(--input-background-color);
    margin: 20px 0 0 60px;
    border-radius: 24px;
    font-size: large;
    font-weight: 550;
    font-size: 15px;
}

.edit-profile__submit {
    min-width: 100px;
    position: relative;
    margin: 80px 0 100px 0;
    left: 50%;
    transform: translate(-50%);
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    font: icon;
    background-color: rgb(172, 209, 233);
    color: white;
}

.edit-profile__submit:hover {
    background-color: rgb(109, 146, 155);
}